

body {
	background:darkolivegreen ;
}
img {
	width: 360;
	border-style: ridge; 
	border-width: 10;
	border-color: yellowgreen;
	border-radius: 40;
}
h1 {
color:#274112;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #274122;
  display: flex;
}

ul li a {
  display: block;
  color:olivedrab;
  padding: 14 16;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
